{% extends "MarksApp/base.html" %}

{% block title%}Home{% endblock  %}

{% block body %}

<style>
.colCrop {
    width: 208px;
    -ms-flex-preferred-size: 0;
    /* flex-basis: 0; */
    /* -webkit-box-flex: 1; */
    -ms-flex-positive: 1;
    /* flex-grow: 1; */
    /* max-width: 19%; */
    background: whitesmoke;
    padding: 10px;
    margin: 5px;
}
.rowCrop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin:10px 15px;

}
.containerCrop {
    max-width: 100%;
}

</style>

<!--add new standerd modal-->

<div class="container mt-3">
  <div class="row">
    <div class="col-10.5 mr-auto">
      <h3 class="h3Crop" >Standerd list</h3>
    </div>
    <div class="col-1.5">
<button type="button" class="btn mr-2 " style="background-color:lightblue" data-toggle="modal" data-target="#standerdModal">
Add new Standerd
</button>
    </div>
  </div>
</div>

<div class="modal fade" id="standerdModal" tabindex="-1" aria-labelledby="standerdModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="standerdModalTitle">Add new standerd</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

<!--Add new standerd Form-->

        <form action= "/" method='post' enctype="multipart/form-data">
           {% csrf_token %}
           {{standerdForm.as_p}}
        <button type="submit" name="AddNewStanderd" value="1" class="btn btn-primary">Submit</button>
        </form>

      </div>
    </div>
  </div>
</div>

      

<!--standerd showing on the homepage-->

<div class="containerCrop">
  <div class="rowCrop">
      {% for Standerd in allStanderd %}
     <a href="/{{Standerd.Id}}"> <div class="colCrop">
          <center><h3>{{Standerd.Std}} - {{Standerd.Div}}</h3>
      
    <h5>{{Standerd.Medium}}</h5></center></a>
    <form action="/" method="POST">
    {% csrf_token %}
    <button type=submit name='deleteStanderd' value='{{Standerd.Id}}'>Delete</button>
    </form>
   <button type="button" class="btn mr-2 " style="background-color:lightblue" data-toggle="modal" data-target="#updatestanderdModal{{Standerd.Id}}">
  update
  </button>

  <!--update standerd modal-->

<div class="modal fade" id="updatestanderdModal{{Standerd.Id}}" tabindex="-1" aria-labelledby="updatestanderdModal{{Standerd.Id}}" aria-hidden="true">

  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="updatestanderdModalTitle{{Standerd.Id}}">update the standerd</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form action= "/" method='post' enctype="multipart/form-data">
           {% csrf_token %}
           {{standerdForm.as_p}}           
        <button type=submit name="updateStanderd" value="{{Standerd.Id}}" class="btn btn-primary">Update</button>
        </form>
      </div>
    </div>
  </div>
</div>

      
      </div>
      {% if forloop.counter|divisibleby:4%}
  </div>
    <div class="rowCrop">
      {% endif %} 
      {% endfor %}
  </div>
</div>



{% endblock  %}