{% extends "MarksApp/base.html" %}

{% block title%}standerd page{% endblock  %}

{% block body %}

<style>
.colCrop {
    width: 208px;
    -ms-flex-preferred-size: 0;
    /* flex-basis: 0; */
    /* -webkit-box-flex: 1; */
    -ms-flex-positive: 1;
    /* flex-grow: 1; */
    /* max-width: 19%; */
    background: whitesmoke;
    padding: 10px;
    margin: 5px;
}
.rowCrop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin:10px 15px;

}
.containerCrop {
    max-width: 100%;
}

</style>

<!--add new subject modal-->

<div class="container mt-3">
  <div class="row">
    <div class="col-10.5 mr-auto">
      <h3 class="h3Crop" >Subject list</h3>
    </div>
    <div class="col-1.5">
<button type="button" class="btn mr-2 " style="background-color:lightblue" data-toggle="modal" data-target="#subjectModal">
Add new Subject
</button>
    </div>
  </div>
</div>

<div class="modal fade" id="subjectModal" tabindex="-1" aria-labelledby="subjectModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="subjectModalTitle">Add new subject</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

<!--Add new subject Form-->

        <form action= "/{{StanderdId}}" method='post' enctype="multipart/form-data">
           {% csrf_token %}
           {{subjectForm.as_p}}
        <button type="submit" name="AddNewSubject" value="1" class="btn btn-primary">Submit</button>
        </form>

      </div>
    </div>
  </div>
</div>


<div class="containerCrop">
  <div class="rowCrop">
      {% for Subject in allSubject %}
      
     <a href="{% url 'subjectHandling' StanderdId=StanderdId subjectId=Subject.id %}"> <div class="colCrop">
          <center><h3>{{Subject.subject_Name}}</h3>
      </center>
    </a>
<form action="/{{StanderdId}}" method="POST">
    {% csrf_token %}
    <button type=submit name='deleteSubject' value='{{Subject.id}}'>Delete</button>
    </form>
    <button type="button" class="btn mr-2 " style="background-color:lightblue" data-toggle="modal" data-target="#updatesubjectModal{{Subject.id}}">
  update
  </button>

  <!--update subject modal-->

<div class="modal fade" id="updatesubjectModal{{Subject.id}}" tabindex="-1" aria-labelledby="updatesubjectModal{{Subject.id}}" aria-hidden="true">

  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="updatesubjectModal{{Subject.id}}">update the subject</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form action= "/{{StanderdId}}" method='post' enctype="multipart/form-data">
           {% csrf_token %}
           {% comment %} {{subjectForm.as_p}}          {% endcomment %}
           <p><label for="id_subject_Name">Subject Name:</label> <input type="text" name="subject_Name" value="{{Subject.subject_Name}}" maxlength="30" required id="id_subject_Name"></p>
        <button type=submit name="updateSubject" value="{{Subject.id}}" class="btn btn-primary">Update</button>
        </form>
      </div>
    </div>
  </div>
</div>


      </div>
      {% if forloop.counter|divisibleby:4%}
  </div>
    <div class="rowCrop">
      {% endif %}
      {% endfor %}
  </div>
</div>


<!-------------------------------------------------------------------------------------------------------->


<!--student showing on each standerd page-->


<div class="container mt-3">
  <div class="row">
    <div class="col-10.5 mr-auto">
      <h3 class="h3Crop" >student list</h3>
    </div>
    <div class="col-1.5">
<button type="button" class="btn mr-2 " style="background-color:lightblue" data-toggle="modal" data-target="#studentModal">
Add new student
</button>
    </div>
  </div>
</div>

<div class="modal fade" id="studentModal" tabindex="-1" aria-labelledby="studentModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="studentModalTitle">Add new student</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

<!--Add new student Form-->

        <form action= "/{{StanderdId}}" method='post' enctype="multipart/form-data">
           {% csrf_token %}
           {{studentForm.as_p}}
        <button type="submit" name="AddNewStudent" value="1" class="btn btn-primary">Submit</button>
        </form>

      </div>
    </div>
  </div>
</div>


<!--student showing on each standerd page-->

<div class="containerCrop">
  <div class="rowCrop">
     {% for Student in allStudent %}
     <div class="colCrop">
      <center><p>{{Student.first_name}}  {{Student.Middle_name}}  {{Student.Last_name}}</p>
          <p>{{Student.Room_No}}</p>
      </center>
    <form action="/{{StanderdId}}" method="POST">
    {% csrf_token %}
    <button type=submit name='deleteStudent' value='{{Student.HR_No}}'>Delete</button>
    </form>

    <button type="button" class="btn mr-2 " style="background-color:lightblue" data-toggle="modal" data-target="#updatestudentModal{{Student.HR_No}}">
  update
  </button>

  <!--update student modal-->

<div class="modal fade" id="updatestudentModal{{Student.HR_No}}" tabindex="-1" aria-labelledby="updatestudentModal{{Student.HR_No}}" aria-hidden="true">

  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="updatestudentModal{{Student.HR_No}}">update student information</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form action= "/{{StanderdId}}" method='post' enctype="multipart/form-data">
           {% csrf_token %}
           {% comment %} {{studentForm.as_p}}       {% endcomment %}
            <p><label for="id_HR_No">HR No:</label> <input type="text" value="{{Student.HR_No}}" name="HR_No" maxlength="20" required id="id_HR_No"></p>
            <p><label for="id_first_name">First name:</label> <input type="text" value="{{Student.first_name}}" name="first_name" maxlength="50" required id="id_first_name"></p>
            <p><label for="id_Middle_name">Middle name:</label> <input type="text" value="{{Student.Middle_name}}" name="Middle_name" maxlength="50" required id="id_Middle_name"></p>
            <p><label for="id_Last_name">Last name:</label> <input type="text" value="{{Student.Last_name}}" name="Last_name" maxlength="50" required id="id_Last_name"></p>
            <p><label for="id_Room_No">Room No:</label> <input type="text" value="{{Student.Room_No}}" name="Room_No" maxlength="10" required id="id_Room_No"></p>
        <button type=submit name="updateStudent" value="{{Student.HR_No}}" class="btn btn-primary">Update</button>
        </form>
      </div>
    </div>
  </div>
</div>
      </div>
      {% if forloop.counter|divisibleby:1%}
  </div>
    <div class="rowCrop">
      {% endif %}
      {% endfor %}
  </div>
</div>




{% endblock  %}
