
{% extends "MarksApp/base.html" %}

{% block title%}subject page{% endblock  %}

{% block body %}

<style>
.colCrop {
    width: 208px;
    -ms-flex-preferred-size: 0;
    /* flex-basis: 0; */
    /* -webkit-box-flex: 1; */
    -ms-flex-positive: 1;
    /* flex-grow: 1; */
    /* max-width: 19%; */
    background: whitesmoke;
    padding: 10px;
    margin: 5px;
}
.rowCrop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin:10px 15px;

}
.containerCrop {
    max-width: 100%;
}

</style>

<!--student showing on each subject page-->

<p>{{Subject.subject_Name}}</p>
<p>{{Standerd.Std}}  {{Standerd.Div}} {{Standerd.Medium}}</p>

<div class="containerCrop">
  <div class="rowCrop">
   
  <form action="{% url 'addAndupdateMarks' StanderdId=Standerd.Id subjectId=Subject.id marksrecordId=Record.Id%}" method="POST">
  {% csrf_token %}

      {% for Student in allStudent %}
        <center><p>{{Student.first_name}}  {{Student.Middle_name}}  {{Student.Last_name}}</p>
        <p>{{Student.Room_No}}</p>
        <input type="number" name="AchivedMarks{{Student.HR_No}}" min="0" max="30">   
      </center>
      
      {% if forloop.counter|divisibleby:1%}
  </div>
    <div class="rowCrop">
      {% endif %}
      {% endfor %}
      <button type=submit name='AddMarksStudent' value='1'>update</button>
    </form> 
  </div>
</div>

{% endblock %}